:root {
  /* Light theme (default) */
  --background-color: #eae2da;
  --sidebar-color: #b8d2ad;
  --text-color: #ff914d;
  --primary-color: #ff914d;
  --secondary-color: #e1f0e5;
  --button-text: #ffffff;
  --input-bg: #ffffff;
  --bot-message-bg: #ffffff;
  --user-message-bg: #ffffff;
  --user-message-tx: #ff914d;
  --border-color: #dddddd;
  --background-image: url('/LogoNaranja.png');
}

[data-theme="dark"] {
  --background-color: #9fad86;
  --sidebar-color: #f1a87b;
  --text-color: #ffffff;
  --primary-color: #ff914d;
  --secondary-color: #34495e;
  --button-text: #ffffff;
  --input-bg: #f1a87b;
  --bot-message-bg: #f1a87b;
  --user-message-bg: #f1a87b;
  --user-message-tx: #ffffff;
  --border-color: #eae2da;
  --background-image: url('/LogoBlanco.png');
}

[data-theme="colorblind"] {
  --background-color: #f5f5f5;
  --sidebar-color: #c8e6c9;
  --text-color: #000000;
  --primary-color: #0000ff;
  --secondary-color: #c8e6c9;
  --button-text: #ffffff;
  --input-bg: #ffffff;
  --bot-message-bg: #ffffff;
  --user-message-bg: #0000ff;
  --border-color: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Asegurarse de que los temas se aplican correctamente */
[data-theme] {
  transition: all 0.3s ease;
}

